/* common styles  */
body {
    font-family: roboto;
    font-size: 18px;
    font-weight: 700;
}





/* nav bar css */
.nav-endless{
    background-color:  #FF9001BF;
 
}












/* media query  */
@media screen and (min-width:0px) and (max-width:768px){
    .icons-nav{
        display: none !important;
    }
}


/* hero section css starts  */

.hero-sec{
    background-color: black;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 50px;
}

.btn-get{
    background-color:  #FF9001;
     color: white;
     padding: 12px;
     border: none;
     border-radius: 30px;

}

.bor-org{
    border-color: #FF9001 !important;
  padding: 30px;
    border: 2px solid;
    border-radius: 50px;
}
/* swipper css  */
.swiper {
    width: 100%;
    height: 100%;
  }
.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .swiper-button-next::after, .swiper-button-prev::after {
    content: "";
}
.swiper-button-prev::after,
.swiper-button-next::after {
  display: none;
}

  .swiper-button-next{
  margin-bottom: 270px;
  margin-left: 430px;
  }
  .swiper-button-prev{
    margin-bottom: 70px;
  margin-left: 30px;
  }
  /* :root {
    --swiper-navigation-size: 885px !important;
} */



/* service section css */
.ser-sec{
    background-color: black;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 50px;
}
.crd-hr{
    background-color:  #FF9001;
    padding: 15px; 
}

.crd-bor{
    border: 1px #FF9001 solid;
border-radius: 20px;
}